<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <!-- Bootstrap core CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Material Design Bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css"
      rel="stylesheet"
    />

    <style>
      html,
      body {
        height: 100%;
      }
    </style>
    <title>Thought Monger</title>
  </head>
  <body>
    <div class="container h-100">
      <div class="row h-100">
        <div
          class="col-md-3 col-lg-4 col-xl-4 col-sm-1 col-1 align-self-start"
        ></div>
        <div
          class="col-md-6 col-sm-10 col-10 col-lg-4 col-xl-4 align-self-center"
        >
          <div class="card color-block">
            <div class="card-body">
              <h3 class="h3 card-title mb-4 text-center">
                Sign up to be a monger
              </h3>
              <% if(signUpErrors.accountError != undefined){%>
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
              >
                <strong><%= signUpErrors.accountError %></strong>
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <%} %>
              <form action="/signup" class="needs-validation" method="POST">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control <%= signUpErrors.userNameError %>"
                    placeholder="Full name"
                    name="userName"
                  />
                  <div class="invalid-feedback">Username cannot be empty.</div>
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    class="form-control <%= signUpErrors.emailError %>"
                    placeholder="Email"
                    name="email"
                  />
                  <div class="invalid-feedback">Invalid email.</div>
                </div>

                <div class="form-group">
                  <input
                    type="password"
                    class="form-control <%= signUpErrors.passwordError %>"
                    placeholder="Password "
                    name="password"
                  />
                  <div class="invalid-feedback">Invalid password pattern.</div>
                  <small
                    id="defaultRegisterFormPasswordHelpBlock"
                    class="form-text text-muted mb-4 text-center"
                  >
                    At least 8 characters and 1 digit
                  </small>
                </div>

                <div class="form-group">
                  <input
                    type="password"
                    class="form-control <%= signUpErrors.password2Error %>"
                    placeholder="Confirm Password"
                    name="password2"
                  />
                  <div class="invalid-feedback">Passwords do not match</div>
                </div>

                <br />
                <div class="text-center">
                  <button
                    type="submit"
                    class="btn btn orange white-text color-block"
                  >
                    Sign me up
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div
          class="col-md-3 col-lg-4 col-xl-4 col-sm-1 col-1 align-self-end"
        ></div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- JQuery -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"
    ></script>
  </body>
</html>
